{% extends 'myapp/seller_header.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		td
		{
			padding: 5px 5px 7px 5px;
		}
	</style>
</head>
<body>
	<center>
		<h3>
			{% if msg %}
				{{msg}}
			{% endif %}
		</h3>
	</center>
	<center><h1>Add Book</h1>
	<form name="add_book" method="post" action="" enctype="multipart/form-data">
		{% csrf_token %}
		<table cellpadding="5">
			<tr>
				<td>Select Category</td>
				<td>
					<select name="book_category">
						<option>---Select Category---</option>
						<option value="python">Python</option>
						<option value="php">PHP</option>
						<option value="java">Java</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Book Name</td>
				<td><input type="text" name="book_name" required="required"></td>
			</tr>
			<tr>
				<td>Book Price</td>
				<td><input type="text" name="book_price"></td>
			</tr>
			<tr>
				<td>Book Author</td>
				<td><input type="text" name="book_author"></td>
			</tr>
			<tr>
				<td>Book Description</td>
				<td><textarea rows="5" cols="21" name="book_desc"></textarea></td>
			</tr>
			<tr>
				<td>Book Image</td>
				<td><input type="file" name="book_image"></td>
			</tr>
			
			<tr>
				<td colspan="2" align="center">
					<input type="submit" name="submit" value="Add Book">
				</td>
			</tr>
		</table>
	</form>	
	</center>
{% endblock %}
</body>
</html>